* {
	box-sizing : border-box;
}

header {
	padding : 35px;
	text-align : center;
	background-color : lightblue;	
	border : 1px solid green;
}

nav {
	float : left;
	width : 20%;
	text-align : center;
	margin-top : 10px;
	margin-bottom: 10px;
	background-color: lightcyan;
	padding : 20px;
}

nav ul {
	list-style-type : none;
	background-color : #e5e5e5;
	border: 1px solid green;
	margin-top : 10px;
}

nav ul li a{
	display: black;
	color: #000;
	padding : 8px;
	text-decoration: none;
	border: 1px solid green;
}

nav ul li a:hover{
	background-color: #555;
	color: #fff;
}

article {
	float : left;
	width : 80%;
	background-color : #e5e5e5;
	border: 1px solid green;
	padding : 0 20%
	
}

footer {
	text-align: center;
}

.satu{
	font-family: "Times New Roman",
	Times, serif;
	color: blue;
}

.dua{
	font-family:Arial, Helvetica, sans-serif;
	color: brown;
}